body {
    font-family: Arial, Helvetica, sans-serif;
    border-top: 5px solid #222;
    border-bottom: 5px solid #222;
    padding: 50px;
    margin: 30px auto;
    max-width: 800px;
    font-size: 18px;
    line-height: 1.5;
    background-color: #FBD3C9;
    background-image: url("../images/rose-background-2.jpg");
    background-size: cover;
    background-position: center;
}

nav {
    text-align: center;
    color: #222;
}

nav li {
    display: inline-block;
    font-weight: bold;
}

.current-page {
    font-style: italic;
    border-left: 2px solid #222;
    padding: 0 6px;
    background-color: lightcoral;
    border-radius: 0 5px 5px 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-weight: 800;
    font-size: 25px;
}

h4 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bolder;
    margin-bottom: -5px;
}

h5 {
    margin-bottom: 0;
}

p {
    font-family: 'Volkhov', serif;
}

ul p {
    margin-top: 0;
    margin-bottom: 15px;
}

a {
    /* text-decoration: none; */
    color: black;
}

main {
    border-top: 1px solid black;
    padding-top: 10px;
    /* border-bottom: 1px solid black;
    padding-bottom: 10px; */
}

ul {
    list-style-type: square;
}

img {
    border: 1.5px dotted grey;
    padding: 5px;
    margin: 0 30px;
    width: 550px;
    height: 350px;
}

small {
    font-size: 12px;
}
